<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .left{
            border: solid blue 10px;
            padding: 10px;
        }
        .right{
            border: solid blue 10px;
            padding: 10px;
        }
    </style>
    <title>Session Word</title>
</head>
<body>
    <div class="left">
        <h1>Add a new word</h1>
        <br>
        <form action="/add" method="POST">
            {% csrf_token %}
            <input type="text" name="word">
            <h2>choose a color</h2>
            <br>
            <input type="radio" name="color" value="red"> red<br>
            <input type="radio" name="color" value="green"> green<br>
            <input type="radio" name="color" value="blue"> blue<br>
            <br>
            <input type="checkbox" name="font" value="big"> show in big fonts<br>
            <input type="submit" value="Add to Session">
        </form>
    </div>
    <div class="right">
        <form action="/clear">
            {% csrf_token %}
            <input type="submit" value="Clear Session">
        </form>
            {% for i in request.session.list %}
                <ul>
                    <li>{{ i.words }} : {{ i.time }}</li>
                </ul>
            {% endfor %}
    </div>  
</body>
</html>